<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laborum quis quae in, fugit itaque cumque quos corporis impedit ratione id aspernatur cum beatae provident ex. At nihil fugit modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ipsum cumque sapiente numquam ullam temporibus minus dolorum pariatur dicta non dignissimos id, enim aliquid totam, saepe eaque explicabo et quae.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis deleniti repellendus illum dolore minima unde error autem nostrum. Quia corrupti saepe ad tempora nulla accusamus atque ea quos eum?</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
